a {
  color: white;
  cursor: pointer;
}
small {
  color: white;
}

li {
  list-style: none;
}

.params-container ul {
  width: auto;
  background: #884D52;
  padding: 5px;
  margin: 10px;
  text-align: left;
  position: relative;
  display: inline-block;
}

.params-container a, .params-container small {
  color: white;
}

.results-container {

}
