
.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}
.App-header-pun {
  margin: 0 auto;
}
.App-header-pun h1 {
  margin: 0;
  direction: rtl;
  unicode-bidi: bidi-override;
  animation: scramble-word 2s 2s ease-in forwards;
  font-size: 60px;
  display: inline-block;
}

@keyframes scramble-word {
  0% {
    direction: rtl;
    unicode-bidi: bidi-override;
    letter-spacing: normal;
  }
  30% {
    letter-spacing: -30px;
  }
  60% {
    direction: ltr;
    letter-spacing: normal;
  }
  100% {
    direction: ltr;
  }
}
.App-header-pun span {
  animation: separate-word 1s 2s forwards;
}

@keyframes separate-word {
  from {
    margin: 0;
  }
  to {
    margin-right: 15px;
  }
}
.App-title {
  font-size: 1.5em;
}
